textarea{font-size:12px;}

/*框架*/
#head{height:70px;background-color: #E0ECFF;}
#south{height:20px;}
#left{width:220px;}
#foot{height:25px;background-color: #E0ECFF;}
.footer{text-align: center;}

/*表单*/
dl{margin: 0 auto;}
dl dt,dl dd{float:left;margin: 0 5px;margin: 5px auto;}
dl dt{/*font-weight: bold;*/text-align: right;}

dl .first{clear:both;}

.detail-form-list{margin:3px auto;width:300px;}
.detail-form-list dt{width: 100px;clear:both;}
.detail-form-list dd{width: 140px;}

.query-form{margin:3px auto; width: 650px;}
.query-form dt{width: 110px;padding-right:5px;}
.query-form dd{width: 130px;}
.query-form dd input{width: 113px;}

#cou_query_form{width: 800px !important;}
#cou_query_form dt{width: 100px;}
/* */
#user_detail_form dl{width:300px;}

.detail-grid{width: 600px;border: #95B8E7 1px solid;border-collapse: collapse;margin: 0 auto;}
.detail-grid td{border: #95B8E7 1px solid;padding: 4px 5px;}
.detail-grid td.tt{width:120px;font-weight: bold;background-color: #E0ECFF;text-align: right;}

/* 覆盖easyui */
.accordion .accordion-header-selected{
	background: none repeat scroll 0 0 #E0ECFF !important; 
}